*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    height: 50px;
    background-color: rgb(230, 100, 0);
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

/*Inizio Navbar*/
    nav{
        width: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .coll_menu{
        width: 15%;
        display: flex;
        align-items: center;
    }

    .menu{
        display: flex;
        list-style-type: none;
    }

    .menu a{
        margin-right: 10px;
        text-decoration: none;
        font-weight: 600;
    }

    .menu a:hover{
        text-decoration-line: underline;
    }

    .color_white{
        color: white;
    }

    .coll_img img{
        
        width: 125px;
    }

    .coll_profile{
        display: flex;
        align-items: center;
        width: 15%;
        justify-content: flex-end;
    }

    .coll_profile i{
        margin-right: 8px;
        color: white;
    }
/*Fine Navbar*/


.container{
    width: 100%;
}

.row{
    margin: 0px auto 40px;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.coll{
    width: calc(95%/3);
}

.card{
    position: relative;
    height: 404px;
    background-size: 100%;
    background-repeat: no-repeat;
}

/*Inizio Background image*/
.bk_image_1{
    background-image: url(../img/1.webp);
}

.bk_image_1:hover{
    background-image: url(../img/1b.webp);
}

.bk_image_2{
    background-image: url(../img/2.webp);
}

.bk_image_2:hover{
    background-image: url(../img/2b.webp);
}

.bk_image_3{
    background-image: url(../img/3.webp);
}

.bk_image_3:hover{
    background-image: url(../img/3b.webp);
}

.bk_image_4{
    background-image: url(../img/4.webp);
}

.bk_image_4:hover{
    background-image: url(../img/4b.webp);
}

.bk_image_5{
    background-image: url(../img/5.webp);
}

.bk_image_5:hover{
    background-image: url(../img/5b.webp);
}

.bk_image_6{
    background-image: url(../img/6.webp);
}

.bk_image_6:hover{
    background-image: url(../img/6b.webp);
}
/*Fine Background image*/

/*Inizio Label*/
    .label{
        display: flex;
        position: absolute;
        top: 355px;
        left: 0;
        font-size: 12px;
        color: white;
    }

    .red_label{
        margin-right: 3px;
        background-color: red;
        padding: 4px;
    }

    .green_label{
        background-color: green;
        padding: 4px;
    }

    .black_heart{
        background-color: white;
        position: absolute;
        padding: 10px;
        top: 7px;
        right: 0px;
        color: black;
    }

    .black_heart:hover{
        color: red;
    }

/*Fine Label*/


/*Inizio Descrizione*/
    .descrizione{
        margin-top: 5px;
    }

    .descrizione h3{
        font-size: 12px;
        font-weight: 100;
    }

    .descrizione h1{
        font-size: 14px;
    }

    .descrizione h2{
        font-size: 13px;
        color: red;
    }

    .descrizione span{
        font-size: 13px;
        color: black;
        font-weight: 200;
        text-decoration-line: line-through;
        margin-left: 5px;
    }

/*Fine Descrizione*/

/*Inizio Footer*/

    footer{
        background-color: black;
        padding: 20px 0px;
    }

    .footer_container{
        display: flex;
        justify-content: space-between;
        width: 70%;
        color: white;
        margin: 0 auto;
    }

    .footer_menu{
        display: flex;
        list-style-type: none;
    }

    .footer_container a{
        text-decoration: none;
        color: white;
        font-size: 11px;
        margin-right: 8px;
    }

    .footer_container a:hover{
        text-decoration-line: underline;
    }

    .social h5 {
        text-align: center;
        margin-bottom: 8px;
    }

    .social_icon{
        display: flex;
    }

    .info_container h5{
        margin-bottom: 6px;
    }

    .social_icon i {
        margin-left: 10px;
    }
/*Fine Footer*/